@import url(./__logo/header__logo.css);

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(84,84,84,0.7);
}

@media screen and (max-width: 900px){
  .header  {
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 900px) {
  .header  {
    margin-bottom: 40px;
  } 
}